* {
    margin: 0%;
    border: border-box;
    font-family: sans-serif;
}
.navbar {
    height: 72px;
    width: 1519.2px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
}

.icon-box {
    height: 40px;
    width: 1397.6px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
}
.menu-icon {
    height: 24px;
    width: 65.63px;
}
.logo-icon {
    height: 40px;
    width: 216.75px;
    background-image: url("porsche_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.logo-icon {
    margin-top: 0.7em;
}
.model {
    height: 82px;
    background-color: white;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    margin-left: 3.4em;
    font-size: 40px;
}

.container1,
.container2 {
    display: flex;
 }

.box1 {
    height: 396.48px;
    width: 528.66px;
    background-image: url("box1.por.jpg");
    background-size: cover;

    .namo {
        color: white;
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;
    }
    .price {
        font-size: 20px;
        margin-top: 2px;
        color: white;
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;
    }

    .built:hover {
        background-color: red;
        color: white;
    }
}

.box2 {
    height: 396.48px;
    width: 528.66px;
    background-color: rgb(49, 165, 165);
    background-image: url("box2.bg_pors.jpg");
    background-size: cover;

    .name2 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;
    }

    .price2 {
        font-size: 20px;
        margin-top: 2px;
        color: rgb(0, 0, 0);
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;
    }

    .built:hover {
        background-color: red;
        color: white;
    }
}

.box3 {
    height: 396.48px;
    width: 528.66px;
    background-color: rgb(73, 109, 109);
    background-image: url("tycan.webp");
    background-size: cover;

    .name3 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;
    }

    .price3 {
        font-size: 20px;
        margin-top: 2px;
        color: rgb(0, 0, 0);
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;
    }

    .built:hover {
        background-color: red;
        color: white;
    }
}

.box4 {
    height: 396.48px;
    width: 528.66px;
    background-color: rgb(85, 0, 255);
    background-image: url("panamera.jpg");
    background-size: cover;

    .name4 {
        color: white;
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;
    }

    .price4 {
        font-size: 20px;
        margin-top: 2px;
        color: white;
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;

    }

    .built:hover {
        background-color: red;
        color: white;
    }

}

.box5 {
    height: 396.48px;
    width: 528.66px;
    background-color: rgb(32, 39, 117);
    background-image: url("macan_bxxxxxo_4.jpg");
    background-size: cover;

    .name5 {
        color: white;
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;

    }

    .price5 {
        font-size: 20px;
        margin-top: 2px;
        color: white;
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;

    }

    .built:hover {
        background-color: red;
        color: white;
    }

}

.box6 {
    height: 396.48px;
    width: 528.66px;
    background-color: rgb(21, 21, 177);
    background-image: url("cayenne.box6.jpg");
    background-size: cover;

    .name6 {
        color: white;
        font-size: 36px;
        margin-top: 0.4em;
        margin-left: 0.7em;
    }

    .price6 {
        font-size: 20px;
        margin-top: 2px;
        color: white;
        margin-left: 1em;
    }

    .built {
        color: black;
        background-color: white;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 190px;
        margin-left: 25px;

    }

    .built:hover {
        background-color: red;
        color: white;
    }

}

.foot {
    height: 584px;
    width: 1519px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu {
    height: 514px;
    width: 1315.33px;
    display: flexbox;
    text-wrap: wrap;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buck {
    height: 396px;
    width: 324px;
    background-color: white;
    list-style-type: none;
    font-size: 21.4px;
}

.buck2 {
    height: 396px;
    width: 324px;
    background-color: white;
    list-style-type: none;
    font-size: 21.4px;
}

.buck3 {
    height: 396px;
    width: 324px;
    background-color: white;
    list-style-type: none;
    font-size: 21.4px;
}

.buck4 {
    height: 396px;
    width: 324px;
    background-color: white;
    list-style-type: none;
    font-size: 21.4px;
}

.legal {
    height: 309.93px;
    width: 1515px;
    background-color: #191f22;
    padding: 0px 108.512px 70px;
}

.notice {
    height: 239.93px;
    width: 1315.33px;

}

.con {
    height: 32px;
    width: 237px;
    padding-top: 1.2em;
    font-size: 18px;
    color: white;
}

.copyright {
    margin-top: 96px;
    color: white;
    font-size: 18px;

}

.bg {
    height: 1000px;
    width: 1519px;
    background-image: url("911gt3pagee.jpg");
    background-size: cover;


}

.rstop {
    font-size: 47px;
    color: white;
    display: flex;
    justify-content: center;

    .rsname {
        margin-top: 50px;
    }

    .rsprice {
        display: flex;
        justify-content: center;
        font-size: 17px;
    }

}

.rsbottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -250px;
    margin-left: 250px;

    .rsbot {
        height: 72px;
        width: 1200px;
        display: flex;
        justify-content: space-evenly;

        .spec {
            column-count: 3;
            font-size: 25px;
            color: white;
        }
    }
}

#rsstrip {
    height: 60px;
    width: 1519.2px;
}

#strip {
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.9rem;
    position: sticky;
}

#strip:hover {
    color: red;
}

#rslegal {
    height: 309.93px;
    width: 1300px;
    background-color: #191f22;
    padding: 0px 108.512px 70px;

}

#Tycan_bg {
    background-color: aqua;
}
